<head>
    <link rel="stylesheet" href="css/index.css">
</head>

<main>
    <nav class="navigation">
        <div>
            <a href="/login">Login</a>
        </div>
        <div>
            <a href="/register">Register</a>
        </div>
    </nav>
</main>

<footer>

</footer>