<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/loginPage.css">
    <title>Document</title>
</head>
<body>
<main>

    <form action="/login" method="post">
        <label for="email"><strong>Email</strong></label>
        <input type="email" name="email" id="email" placeholder="Enter Your Email" required
               pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$">

        <label for="password"><strong>Password</strong></label>
        <input type="password" name="password" id="password" placeholder="Insert your password" required>

        <button type="submit">Login</button>
    </form>

</main>
</body>
</html>

