<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header>
    <h2> Create Project</h2>
</header>

<main>
    <form action="/projects-menu/create-project" method="post">
        <label for="projectName">Project Name</label>
        <input type="text" name="projectName" id="projectName" placeholder="Enter Project Name" required>

        <label for="projectDesc">Project Description</label>
        <input type="text" name="projectDesc" id="projectDesc" placeholder="Enter Project Description">

        <label for="priority">Choose project priority:</label>
        <select id="priority" name="priority">
            <option value="2">high</option>
            <option value="1">medium</option>
            <option value="0">low</option>
        </select>
        <input type="submit" value="Submit">

    </form>
</main>

<footer>
</footer>
</body>
</html>