<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header>
    <h2>Edit Project</h2>
</header>

<main>

    <form action="/projects-menu/edit-project/<%= projectId %>" method="post">
        <label for="projectTitle">New Title</label>
        <input type="text" name="projectTitle" id="projectTitle">

        <label for="projectDesc">New Desc</label>
        <input type="text" name="projectDesc" id="projectDesc">

        <label for="priority">Choose project priority:</label>
        <select id="priority" name="priority">
            <option value="2">high</option>
            <option value="1">medium</option>
            <option value="0">low</option>
        </select>

        <button type="submit">Update</button>
    </form>
</main>

<footer>
</footer>
</body>
</html>